language: cpp
python: "3.7"

install:
    - sudo apt-get -y -q update
    - sudo apt-get -y -q build-dep herbstluftwm
    - sudo apt-get -y -q install dzen2
    - apt-cache search '^clang-[0-9]'
    - clang --version
    - find /usr/local/clang*/bin -name 'clang-[0-9]*'
    - apt-cache search '^gcc-[0-9]'
    - gcc --version

script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - echo $CC / $CXX
    - make -j2
    - sudo make PREFIX=/usr install
    - herbstluftwm &
    - hlwmpid=$!
    - sleep 1
    - herbstclient version
    - herbstclient quit
    - wait $hlwmpid

jobs:
    include:
        - name: "Ubuntu 14.04, gcc-4.8"
          dist: trusty
          before_install: CC=gcc-4.8 CXX=g++-4.8

        - name: "Ubuntu 14.04, clang-5"
          dist: trusty
          before_install: CC=clang-5.0 CXX=clang++-5.0

        - name: "Ubuntu 16.04, gcc-5"
          dist: xenial
          before_install: CC=gcc-5 CXX=g++-5

        - name: "Ubuntu 16.04, gcc-7"
          dist: xenial
          before_install: CC=gcc-7 CXX=g++-7
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-7

        - name: "Ubuntu 16.04, clang-7, run tests"
          dist: xenial
          before_install: CC=clang-7 CXX=clang++-7
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - clang-7
                      - xterm
                      - tox
          script:
              - echo $CC / $CXX
              - make -j2
              - tox
