language: cpp
python: "3.7"

install:
    - sudo apt-get -y -q update
    - sudo apt-get -y -q build-dep herbstluftwm
    - sudo apt-get -y -q install dzen2

script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - echo Using $CC / $CXX
    - make -j2
    - sudo make PREFIX=/usr install
    - herbstluftwm &
    - hlwmpid=$!
    - sleep 1
    - herbstclient version
    - herbstclient quit
    - wait $hlwmpid

jobs:
    include:
        - name: "Ubuntu 16.04, gcc-8, run tests"
          dist: xenial
          before_install:
              - CC=gcc-8 CXX=g++-8
              # This is new in gcc-8 and not easily fixed:
              - CXXFLAGS="-Wno-error=cast-function-type"
              - CXXFLAGS="$CXXFLAGS --coverage"
              - export CXXFLAGS
              - pip3 install --user cpp-coveralls
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-8
                      - xterm
                      - tox
          script:
              - echo Using $CC / $CXX
              - make -j2
              - tox
          after_success:
              - coveralls
