language: cpp
python: "3.7"

install:
    - sudo apt-get -y -q update
    - sudo apt-get -y -q build-dep herbstluftwm
    - sudo apt-get -y -q install dzen2
    - apt-cache search '^clang-[0-9]'
    - clang --version
    - find /usr/local/clang*/bin -type f
    - apt-cache search '^gcc-[0-9]'
    - gcc --version

script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - echo $CC / $CXX
    - make -j2
    - sudo make PREFIX=/usr install
    - herbstluftwm &
    - hlwmpid=$!
    - sleep 1
    - herbstclient version
    - herbstclient quit
    - wait $hlwmpid

jobs:
    include:
        - name: "Ubuntu 14.04, gcc-4.8"
          # Note: Travis provides gcc-5.4 on trusty, but gcc-4.8 is the most
          # recent version provided by Ubuntu, so we use that one.
          dist: trusty
          before_install: CC=gcc-4.8 CXX=g++-4.8

        - name: "Ubuntu 14.04, clang-3.9"
          # Note: Travis provides clang-5.0.0 on trusty, but clang-3.9 is the
          # most recent version provided by Ubuntu, so we use that one.
          dist: trusty
          before_install: CC=clang-3.9 CXX=clang++-3.9 CXXFLAGS=-Wno-deprecated-register
          addons:
              apt:
                  packages:
                      - clang-3.9

        - name: "Ubuntu 16.04, gcc-5"
          # Note: On xenial, gcc-5 is the most recent GCC that is officially available.
          dist: xenial
          before_install: CC=gcc-5 CXX=g++-5

        - name: "Ubuntu 16.04, gcc-7"
          dist: xenial
          before_install: CC=gcc-7 CXX=g++-7
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-7

        - name: "Ubuntu 16.04, gcc-8"
          dist: xenial
          before_install: CC=gcc-8 CXX=g++-8
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-8

        - name: "Ubuntu 16.04, clang-6, run tests"
          dist: xenial
          before_install: CC=clang-6.0 CXX=clang++-6.0
          addons:
              apt:
                  sources:
                      - llvm-toolchain-xenial-6.0
                  packages:
                      - clang-6.0
                      - xterm
                      - tox
          script:
              - echo $CC / $CXX
              - make -j2
              - tox
