language: minimal
dist: bionic
services: docker

before_install:
    # Delete .git/ to maximize ccache effectiveness (no version string mismatches)
    - rm -rf .git

branches:
    only:
        - master

jobs:
    include:
        - name: "Build with Clang, run linters and static analyzers"
          script:
              # Fetch our current Ubuntu 20.04 CI image from Docker Hub
              # (automatically built by Docker):
              - docker pull hlwm/ci:focal

              # Build ad-hoc image, using hub image as cache
              # (=> does not actually build from scratch if the Dockerfile is
              # the same):
              - docker build -t focal --cache-from hlwm/ci:focal - <ci/Dockerfile.ci-focal

              # Perform actual tasks within temporary Docker image
              - docker run -u $UID --privileged -t --rm
                --volume=/etc/passwd:/etc/passwd:ro
                --volume=$PWD:/hlwm:rw
                focal bash -c '
                    set -o errexit;
                    for i in {1..5}; do
                      time /hlwm/ci/build.py --build-dir=/hlwm/build --cxx=clang++-10 --cc=clang-10 --build-type=Debug --clang-tidy;
                      rm -rf /hlwm/build;
                    done;
                    for i in {1..5}; do
                      time /hlwm/ci/build.py --build-dir=/hlwm/build --cxx=clang++-10 --cc=clang-10 --build-type=Debug --unity-build --clang-tidy;
                      rm -rf /hlwm/build;
                    done
                '
