version: 2
jobs:
    iwyu:
        docker:
            - image: dnnr/hlwm
        steps:
            - checkout
            - run: ./iwyu.sh

workflows:
    version: 2
    iwyu:
        jobs:
            - iwyu
