version: 2.1

executors:
    disco:
        docker:
            - image: hlwm/ci:disco
    trusty:
        docker:
            - image: hlwm/ci:trusty

commands:
    command-with-ccache:
        parameters:
            cache_prefix:
                type: string
            command:
                type: string
        steps:
            - restore_cache:
                name: "Restore ccache"
                keys:
                    - ccache-<< parameters.cache_prefix >>-{{ .Branch }}-{{ .Revision }}
                    - ccache-<< parameters.cache_prefix >>-{{ .Branch }}
                    - ccache-<< parameters.cache_prefix >>-
            - run:
                name: "Run command"
                command: << parameters.command >>
            - save_cache:
                name: "Save ccache"
                when: always
                key: ccache-<< parameters.cache_prefix >>-{{ .Branch }}-{{ .Revision }}
                paths:
                    - ~/.ccache

jobs:
    build-and-test-on-disco:
        executor: disco
        steps:
            - checkout
            - run:
                name: "Misc. preparations"
                command: |
                    # Delete .git/ to maximize ccache effectiveness (no version string mismatches)
                    rm -rf .git
            - restore_cache:
                name: "Restore tox cache"
                keys:
                    - tox-{{ .Branch }}-{{ .Revision }}
                    - tox-{{ .Branch }}
                    - tox-
            - restore_cache:
                name: "Restore ccache"
                keys:
                    - ccaches-disco-{{ .Branch }}-{{ .Revision }}
                    - ccaches-disco-{{ .Branch }}
                    - ccaches-disco-
            - run:
                name: "Run ci-build.sh"
                command: |
                    ./ci-build.py \
                    --cxx=g++-8 --cc=gcc-8 \
                    --ccache=~/.ccaches-disco/gcc-8 \
                    --build-type=Debug --ninja-args=-j2 --run-tests --pytest-args=--junitxml=test-results/tox/results.xml

                    ./ci-build.py \
                    --cxx=clang++-7 --cc=clang-7 \
                    --ccache=~/.ccaches-disco/clang-7 \
                    --build-type=Debug --iwyu
            - save_cache:
                name: "Save tox cache"
                when: on_success
                key: tox-{{ .Branch }}-{{ .Revision }}
                paths:
                    - .tox
            - save_cache:
                name: "Save ccache"
                when: always
                key: ccaches-disco-{{ .Branch }}-{{ .Revision }}
                paths:
                    - ~/.ccaches-disco
              # TODO: publish coverage

    build-on-trusty:
        executor: trusty
        steps:
            - checkout
            - command-with-ccache:
                cache_prefix: trusty
                command: |
                    cd /tmp
                    ccache -z --max-size=500M
                    cmake -GNinja -DWITH_DOCUMENTATION=NO -DENABLE_CCACHE=YES $CIRCLE_WORKING_DIRECTORY
                    time ninja -v -k10
                    ccache -s

workflows:
    version: 2
    ci_checks:
        jobs:
            # - build-and-test-on-disco
            - build-on-trusty
