version: 2.1

executors:
    disco:
        docker:
            - image: hlwm/ci:disco
    trusty:
        docker:
            - image: hlwm/ci:trusty

jobs:
    build-and-test-on-disco:
        executor: disco
        steps:
            - checkout
            - run:
                name: "Misc. preparations"
                command: |
                    # Delete .git/ to maximize ccache effectiveness (no version string mismatches)
                    rm -rf .git
            - restore_cache:
                name: "Restore tox cache"
                keys:
                    - tox-{{ .Branch }}-{{ .Revision }}
                    - tox-{{ .Branch }}
                    - tox-
            - restore_cache:
                name: "Restore ccache"
                keys:
                    - ccaches-disco-{{ .Branch }}-{{ .Revision }}
                    - ccaches-disco-{{ .Branch }}
                    - ccaches-disco-
            - run:
                name: "Run ci-build.sh"
                command: |
                    ./ci-build.py \
                    --cxx=g++-8 --cc=gcc-8 \
                    --ccache=~/.ccaches-disco/gcc-8 \
                    --build-type=Debug --ninja-args=-j2 --run-tests --pytest-args=--junitxml=test-results/tox/results.xml

                    ./ci-build.py \
                    --cxx=clang++-7 --cc=clang-7 \
                    --ccache=~/.ccaches-disco/clang-7 \
                    --build-type=Debug --iwyu
            - save_cache:
                name: "Save tox cache"
                when: on_success
                key: tox-{{ .Branch }}-{{ .Revision }}
                paths:
                    - .tox
            - save_cache:
                name: "Save ccache"
                when: always
                key: ccaches-disco-{{ .Branch }}-{{ .Revision }}
                paths:
                    - ~/.ccaches-disco
              # TODO: publish coverage

    build-on-trusty:
        executor: trusty
        steps:
            - checkout

workflows:
    version: 2
    ci_checks:
        jobs:
            - build-and-test-on-disco
            # - build-on-trusty
