version: 2.1

executors:
    disco:
        docker:
            - image: hlwm/ci:disco
    trusty:
        docker:
            - image: hlwm/ci:trusty

workflows:
    version: 2
    ci_checks:
        jobs:
            - disco
            - trusty

jobs:
    disco:
        executor: disco
        steps:
            - checkout
            - prep

            - restore_cache:
                name: "Restore tox cache"
                keys:
                    - tox-{{ .Branch }}-{{ .Revision }}
                    - tox-{{ .Branch }}
                    - tox-
            - command-with-ccache:
                cache-id: gcc-8
                command: |
                    ./ci-build.py \
                    --cxx=g++-8 --cc=gcc-8 \
                    --ccache \
                    --build-type=Debug --ninja-args=-j2 --run-tests --pytest-args=--junitxml=test-results/tox/results.xml
            - command-with-ccache:
                cache-id: clang-7
                command: |
                    ./ci-build.py \
                    --cxx=clang++-7 --cc=clang-7 \
                    --ccache \
                    --build-type=Debug #--iwyu
            - save_cache:
                name: "Save tox cache"
                when: on_success
                key: tox-{{ .Branch }}-{{ .Revision }}
                paths:
                    - .tox
              # TODO: publish coverage

    trusty: build-on-trusty:
        executor: trusty
        steps:
            - checkout
            - prep
            - command-with-ccache:
                cache-id: trusty
                command: |
                    cd /tmp
                    ccache -z --max-size=500M
                    export CC=gcc-4.8
                    export CXX=g++-4.8
                    cmake -GNinja -DWITH_DOCUMENTATION=NO -DENABLE_CCACHE=YES $CIRCLE_WORKING_DIRECTORY
                    time ninja -v -k10
                    ccache -s

commands:
    prep:
        steps:
            - run:
                name: "Misc. preparations"
                command: |
                    # Delete .git/ to maximize ccache effectiveness (no version string mismatches)
                    rm -rf .git
    command-with-ccache:
        parameters:
            cache-id:
                type: string
            command:
                type: string
        steps:
            - restore_cache:
                name: "Restore ccache: << parameters.cache-id >>"
                keys:
                    - ccache-<< parameters.cache-id >>-{{ .Branch }}-{{ .Revision }}
                    - ccache-<< parameters.cache-id >>-{{ .Branch }}
                    - ccache-<< parameters.cache-id >>-
            - run:
                name: "Run command"
                command: << parameters.command >>
            - save_cache:
                name: "Save ccache: << parameters.cache-id >>"
                when: always
                key: ccache-<< parameters.cache-id >>-{{ .Branch }}-{{ .Revision }}
                paths:
                    - ~/.ccache
