version: 2

steps_template: &steps_template
    steps:
        - checkout
        - run:
            name: "Misc. preparations"
            command: |
                # Provide CXX in a file so that in can be included in the cache key:
                echo ${CXX} > CXX
                # Delete .git to maximize ccache effectiveness (no version string mismatches)
                rm -rf .git
        - restore_cache:
            keys:
                - ccache-{{ checksum "CXX" }}-{{ .Branch }}-{{ .Revision }}
                - ccache-{{ checksum "CXX" }}-{{ .Branch }}
                - ccache-{{ checksum "CXX" }}-
        - run:
            when: always
            name: "Print ccache stats (before)"
            command: |
                # Reasonable limit to fit a full build (but not much more):
                ccache --max-files=200
                ccache -s
                ccache -z
        - run:
            command: |
                cmake -GNinja -DCMAKE_BUILD_TYPE=Debug -DENABLE_CCACHE=YES .
                ninja -v -k1 ${NINJA_ARGS} herbstclient herbstluftwm
        - run:
            when: always
            name: "Print ccache stats (after)"
            command: ccache -s
        - save_cache:
            when: always
            key: ccache-{{ checksum "CXX" }}-{{ .Branch }}-{{ .Revision }}
            paths:
                - ~/.ccache

jobs:
    build-clang-7:
        docker:
            - image: dnnr/hlwm
        environment:
            CC: clang-7
            CXX: clang++-7
        <<: *steps_template

    build-gcc-8:
        docker:
            - image: dnnr/hlwm
        environment:
            CC: gcc-8
            CXX: g++-8
            NINJA_ARGS: -j1
        <<: *steps_template

    iwyu:
        docker:
            - image: dnnr/hlwm
        steps:
            - checkout
            - run: ./iwyu.sh

workflows:
    version: 2
    ci_checks:
        jobs:
            - build-clang-7
            - build-gcc-8
            # - iwyu
            # - test
            # - publish coverage
