version: 2.1

workflows:
    version: 2
    ci_checks:
        jobs:
            - disco
            # - trusty

orbs:
    codecov: codecov/codecov@1.0.4

jobs:
    disco:
        docker:
            - image: dnnr/hlwm-ci:disco
        steps:
            - checkout
            - prep
            - restore_cache:
                name: "Restore tox cache"
                keys:
                    - tox-{{ .Branch }}-{{ .Revision }}
                    - tox-{{ .Branch }}
                    - tox-
            - command_with_ccache:
                title: "Build with GCC-8 and run tests"
                ccache_id: gcc-8
                command: |
                    # Notes:
                    #  - passing -j2 to ninja because GCC-8 consumes too much
                    #    RAM for full parallelism
                    #  - CircleCI's Xvfb is too fragile to handle parallel tox
                    ./ci-build.py \
                    --cxx=g++-8 --cc=gcc-8 \
                    --ccache \
                    --build-type=Debug \
                    --ninja-args=-j2 \
                    --run-tests --pytest-args="-n 1 --junitxml=test-results/tox/results.xml"
            - command_with_ccache:
                title: "Build with Clang-7 and run IWYU checks"
                ccache_id: clang-7
                command: |
                    ./ci-build.py \
                    --cxx=clang++-7 --cc=clang-7 \
                    --ccache \
                    --build-type=Debug \
                    --iwyu
            - save_cache:
                name: "Save tox cache"
                when: on_success
                key: tox-{{ .Branch }}-{{ .Revision }}
                paths:
                    - .tox
            - store_test_results:
                path: test-results
            - codecov/upload:
                file: coverage.info

    trusty:
        docker:
            - image: hlwm/ci:trusty
        steps:
            - checkout
            - prep
            - command_with_ccache:
                title: "Build with ancient GCC on Ubuntu 14.04"
                ccache_id: trusty
                command: |
                    # Not using ci-build.py here because Python is tool old
                    cd /tmp
                    ccache -z --max-size=500M
                    export CC=gcc-4.8
                    export CXX=g++-4.8
                    cmake -GNinja -DWITH_DOCUMENTATION=NO -DENABLE_CCACHE=YES $CIRCLE_WORKING_DIRECTORY
                    time ninja -v -k10
                    ccache -s

commands:
    prep:
        steps:
            - run:
                name: "Misc. preparations"
                command: |
                    # Delete .git/ to maximize ccache effectiveness (no version string mismatches)
                    rm -rf .git
    command_with_ccache:
        parameters:
            ccache_id:
                type: string
            title:
                type: string
            command:
                type: string
        steps:
            - restore_cache:
                name: "Restore ccache: << parameters.ccache_id >>"
                keys:
                    - ccache-<< parameters.ccache_id >>-{{ .Branch }}-{{ .Revision }}
                    - ccache-<< parameters.ccache_id >>-{{ .Branch }}
                    - ccache-<< parameters.ccache_id >>-
            - run:
                name: << parameters.title >>
                command: << parameters.command >>
            - save_cache:
                name: "Save ccache: << parameters.ccache_id >>"
                key: ccache-<< parameters.ccache_id >>-{{ .Branch }}-{{ .Revision }}
                paths:
                    - ~/.ccache
